<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./../../static/css/dairyOwner/password_reset.css", rel="stylesheet">

</head>
<body>

    
    <div id="main">
        {% include 'commonFlashMessages.html' %}
        <div class="header_container">
            <header>
                <div class="logo">Dairy <span>Farm</span></div>
                <div class="backbutton" >  <a href="/dairyOwner/login" style="color: black;text-decoration: none;"> < back  </a></div>
            </header>
        </div> <!--header container ends here -->

         
        <div class="card">
            <div class="partone">
                <div class="forget_container"> 
                    <div class="milkglass"></div>
                    <div class="forget_text">Forget password</div>
                </div> <!--forget container ends here -->
                <form action="{{url_for('dairyOwner_reset_password.request_reset')}}" method="post">
                <div class="user_container">
                    <div class="text">Uid / Email </div>
                    <input type="text" placeholder="Enter your UID/Email" name="uid_or_email" required>
                </div>
                
                <div class="dob_container">
                    <div class="text">Date of Birth  </div>
                    <input type="date" placeholder="Enter your UID/Email" name="date_of_birth" required>
                </div>
               
                <div class="mob_container">
                    <div class="text">Mobile Number   </div>
                    <input type="number" placeholder="Enter your mobile number" name="phone_number" required>
                </div>

                <div class="btn_container">
                    <input type="submit">
                </div>
            </form>
               
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div>{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
            </div><!--partone ends here -->
            <div class="parttwo"></div> <!--parttwo ends here-->
        </div>
    </div> <!--main ends here -->
</body>
</html>