<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Registration Successful</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/farmers/success.css')}}">
</head>
<body>
    <div class="container">
        <h1>DAIRY FARM</h1>
        <div class="checkmark"></div>
        <p>Successfully Registered</p>
        <p>Thank you!</p>
        <p>Your UID: <span class="uid">{{farmer_id}}</span></p>
        <a href="/farmer/login"><button class="login-btn">Login</button></a>
    </div>
    <div class="splash"></div>
</body>
</html>