<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer Profile</title>
    <link rel="stylesheet" href="./../../static/css/dairyOwner/NotificationFarmerProfile.css">
</head>

<body>
    <h2><a href="window.history.back"> < Back </a></h2>

    <div class="main">
        <h1>Personal Info</h1>
        <div class="profile-box">
            <img src="./../images/boy-22.jpg" alt="Profile Picture" class="profile-pic">

            <div class="profile-info">
                <p class="profile-info-p"><span class="profile-info-span">Farmer Name: </span>Kishor</p>
                <p class="profile-info-p"><span class="profile-info-span">Date Of Birth: </span>Feb 28, 2024</p>
                <p class="profile-info-p"><span class="profile-info-span">Phone: </span>(+91) 1234567896</p>
                <p class="profile-info-p"><span class="profile-info-span">Farmer UID: </span>466651HBM2</p>
                <p class="profile-info-p"><span class="profile-info-span">Email: </span>kishor@gmail.com</p>
                <p class="profile-info-p"><span class="profile-info-span">Address: </span>Uttarakhand</p>
            </div>
        </div>

        <h1>Account Details</h1>
        <div class="profile-box">
            <div class="profile-info">
                <p class="profile-info-p"><span class="profile-info-span">Bank Name: </span>xyz</p>
                <p class="profile-info-p"><span class="profile-info-span">Branch Name: </span>Kishor</p>
                <p class="profile-info-p"><span class="profile-info-span">Account No.: </span>kishor@gmail.com</p>
                <p class="profile-info-p"><span class="profile-info-span">IFSC Code: </span>Uttarakhand</p>
            </div>
        </div>
    </div>
</body>

</html>
