<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GauDhara - Wallet</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/new-wallet4.css')}}">
</head>
<body>
    {% include 'commonFlashMessages.html'%}
  <button class="sidebar-toggle" onclick="toggleSidebar()">☰</button>
  <div class="container">
    <div class="sidebar">
        <div class="logo-section">
            <img src="{{url_for('static', filename='images/gaudhara-removebg-preview.png')}}" alt="GauDhara Logo" class="logo">
        </div>
        <nav>
            <ul>
                <li > <a href="{{url_for('dairy_owner_dashboard.dairyDashboard')}}" style="color: black; text-decoration: none;">Dashboard </a></li>
           
                <li > <a href="{{url_for('dairy_owner_dashboard.dairyFarmerDetails')}}" style="color: black; text-decoration: none;">Farmer Details </a></li>
               
                <li class="active" > <a href="{{url_for('dairy_owner_dashboard.getMilkCollection')}}" style="color: black; text-decoration: none;">Milk Collection</a></li>
             
                <li><a href="dairyOwner/dashboard/view/products" style="color: black; text-decoration: none;">Products </a></li>
            
                <li ><a href="{{url_for('dairy_wallet.view_wallet')}}" style="color: black; text-decoration: none;">Wallet </a></li>
           
                <li > <a href="dairyOwner/report" style="color: black; text-decoration: none;">Report </a></li>
       
                <li > <a href="/dairyOwner/excel-import" style="color: black; text-decoration: none;">Excel File </a></li>
             
                <li ><a href="dairyOwner/settings" style="color: black; text-decoration: none;">Settings </a></li>
            
                <li > <a href="{{url_for('guest.Logout')}}" style="color: black; text-decoration: none;">Log Out</a></li>
          
            </ul>
        </nav>
        <div class="profile-section">
            <img src="{{url_for('static', filename='images/pro.png')}}" alt="Profile Picture" class="profile-pic">
            <div class="profile-info">
                <p>Alex Nolan</p>
                <p>Busy Owner</p>
            </div>
        </div>
    </div>
      <!-- Main Content -->
      <div class="main-content">
          <div class="top-bar">
              <div class="notification">
                <img src="{{url_for('static', filename='images/notification@3x-1.png')}}" alt="Notification" class="notification-icon">
              </div>
              <div class="time-date">
                  <div class="time">10:40 AM</div>
                  <div class="date">21/12/2022</div>
              </div>
          </div>
          
          <h1>Wallet</h1>   
 <!-- <div class="header">
   
    <button class="back-button">< Back</button>
</div> -->

    <div class="form-container">
        <div class="con">
        <div class="transaction-box">
            <!-- <div class="status-icon">&#10004;</div> -->
            <div class="status-icon">
              <img src="{{url_for('static', filename='images/check-removebg-preview.png')}}" alt="Status Icon" />
          </div>
          
          <h2>Confirm Transaction?</h2>
          <h3 style="text-align: left;">Farmer Name: {{farmer_name}} <br> Farmer ID: {{farmer_id}}</h3>
          <p>Upon confirming, {{amount}} will be deducted <br> from  your  wallet.</p>
          <!-- <div class="buttons">
            <button class="btn yes">Yes</button>
            <button class="btn no">No</button>
        </div>
        -->
        <a href="{{url_for('dairy_wallet.paymentSuccess')}}"><button>yes</button></a>
        <button>No</button>
          
        </div>
    </div>
</div>
</div>

<script>
  function toggleSidebar() {
      const sidebar = document.querySelector('.sidebar');
      sidebar.classList.toggle('active');
  }
  function updateDateTime() {
			var today = new Date();
			var date = today.toLocaleDateString();
			var time = today.toLocaleTimeString([], {
				hour: "2-digit",
				minute: "2-digit"
			});
		document.getElementById("date").innerHTML = date;
		document.getElementById("time").innerHTML = time;
		}
		// Update the date and time every second
		setInterval(updateDateTime, 60);
</script>
</body>
</html>
