*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,body{
      height: 100vh;
      width: 100vw;
      
}

#main{
    height: 100vh;
    width: 100vw;
    background-image: url("../../images/milkflow.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    display: flex;
    align-items: center;
   
    flex-direction: column;
    background-color: #79C6C4;
    /* gap: 10vh; */
    
    }

    .header_container{
        height: 10%;
        width: 100%;
        background-color: #79C6C4;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .header_container header{
        height: 100%;
        width: 90%;
        background-color: #79C6C4;
        font-size: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        letter-spacing: 2px;
    }
    .logo{
        color: white;
        font-size: 4rem;
    }
    .logo span{
        color: green;
    }
    .backbutton{
        font-size: 1.3rem;
        font-weight: bold;
    }

   
    .card{
        height: 60vh;
        width: 58vw;
        border-radius: 30px;
        background-color: #F0F7F6;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4vh;
        
    }

    .partone{
        height: 100%;
        width: 50%;
        background-color: #F0F7F6;
        border-radius: 30px;
        display: flex;
        align-items: center;
        gap: 4vh;
        flex-direction: column;

    }

    form{
        height: 80vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 6.7vh;
    }
    .parttwo{
        height: 100%;
        width: 50%;
        background-color: #F0F7F6;
        border-radius: 30px;
        background-image: url("../../images/7205-removebg-preview.png");
    }

    .forget_container{
        height: 10%;
        width: 100%;
        background-color: #F0F7F6;
        padding-left: 2vw;
        display: flex;
        align-items: center;
        border-radius: 30px;
        color: #8E9E5B;


    }

   
    .milkglass{
        height: 100%;
        width: 14%;
        background-image: url("../../images/glass2-removebg-preview-removebg-preview.png");
        background-position: center;
        background-size: cover;
        

    }
    .forget_text{
        font-size: 2rem;
    }
    .user_container{
        height: 15%;
        width: 100%;
        background-color: #F0F7F6;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .text{
        font-size: 1.2rem;
    }
    .user_container input{
        width: 80%;
        border-bottom: 2px solid black;
        background-color: #F0F7F6;
        height: 30%;
        padding:1rem;
    }
    .dob_container{
        height: 15%;
        width: 100%;
        background-color: #F0F7F6;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .dob_container input{
        width: 80%;
        border-bottom: 2px solid black;
        background-color: #F0F7F6;
        height: 30%;
        padding:1rem;
    }

    .mob_container{
        height: 15%;
        width: 100%;
        background-color: #F0F7F6;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .mob_container input{
        width: 80%;
        border-bottom: 2px solid black;
        background-color: #F0F7F6;
        height: 30%;
        padding:1rem;
    }

    .btn_container{
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn_container input{
        border-radius: 20px;
        background-color: rgba(143, 227, 15, 0.66);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60%;
        font-size: 1.3rem;
        width: 25%;
        cursor: pointer;
    }

    @media (max-width:768px){
        .header_container header{
            height: 100%;
            width: 100%;
            background-color: #79C6C4;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            letter-spacing: 2px;
        }
        .card{
            height: 70vh;
            width: 100vw;
            border-radius: 30px;
            background-color: #F0F7F6;
            display: flex;
            align-items: center;
            justify-content: center;
           
            
            
        }
    
        .partone{
            height: 100%;
            width: 100%;
            background-color: #F0F7F6;
            border-radius: 30px;
            display: flex;
            align-items: center;
            gap: 4vh;
            flex-direction: column;
    
        }
       
        .parttwo{
            height: 100%;
            width: 50%;
            background-color: #F0F7F6;
            border-radius: 30px;
            background-image: url("../../images/7205-removebg-preview.png");
            display: none;
        }
        .forget_text{
            font-size: 1.8rem;
        }
        .btn_container input{
            border-radius: 20px;
            background-color: rgba(143, 227, 15, 0.66);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60%;
            font-size: 1.3rem;
            width: 40%;
        }
        .logo{
            color: white;
            font-size: 2rem;
        }
    }