<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../../../static/css/farmers/Dashboard/FamerProfile.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

    {% include "farmer/Sidebar/FarmerSidebar.html" %}
    <div id="main">

    

        <div class="sidebar_xx"></div>


           <div class="content">
                 
            <div class="header">
                <div class="partone">Notification</div>
                <div class="parttwo">
                  <div class="header_notification"> <i class='bx bx-bell'></i></div>
                  <div class="header_time"> 10:40 pm </div>
                  <div class="header_date">29/10/2024</div>
                </div>
              </div>  <!--header ends here -->

          


               

           </div>


   

    
   

    
      
    </div>
</body>
</html>