<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dairy Farm - Reset Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="./../../static/css/farmers/password_reset.css", rel="stylesheet">
</head>
<body>
    <div class="container">
        <div>
            <header>

                <a href="/"><div class="logo">DAIRY <span>FARM</span></div></a>
                {%include 'commonFlashMessages.html' %}
            </header>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-header">
                    <div class="card-logo"></div>
                    <h1 class="card-title">Reset Password</h1>
                </div>
                <form action="{{url_for('farmer_reset_password.reset_password')}}" method="POST">
                    <label for="otp">Enter OTP</label>
                    <input type="text" id="otp" name="OTP" placeholder="OTP">
                    
                    <label for="password">New password</label>
                    <input type="password" id="password" name="new_password" placeholder="Enter your new password">
                    
                    <label for="re-password">Confirm Password</label>
                    <input type="password" id="re-password" name="confirm_password" placeholder="Confirm your new password">
<!-- 
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            <div class="flash-messages">
                                {% for category, message in messages %}
                                    <div>{{ message }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %} -->
                    
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="milk-splash-right"></div>
        </div>
    </div>
    <div class="milk-splash-bottom" ></div>
</body>

</html>