body{
    width: 1728px;
height: 1117px;
top: -586px;
left: 8054px;
gap: 0px;
border-radius: 28px 0px 0px 0px;
opacity: 0px;
}

footer{
    background-image: url('app/static/images/milk2-removebg-preview-removebg-preview.png');
}