<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dairy Farm Muster</title>
    <link rel="stylesheet" href="sidebar.css">
  </head>
  <body>
    <div class="main">
      <!-- side bar -->
      <div class="sidebar">
        <div class="sidebar-img">
          <img src="gaudhara-removebg-preview.png" alt="" class="logo" />
          <!-- <h1>GauDhara</h1> -->
        </div>

        <div class="product-sidebar">
          <a href="#" class="product-sidebar-a">Dashboard</a>
        </div>
        <div class="product-sidebar">
          <a href="#" class="product-sidebar-a">Farmer Details</a>
        </div>
        <div class="product-sidebar">
          <a href="#" class="product-sidebar-a">Milk Collection</a>
        </div>
        <div class="product-sidebar">
          <a href="#" class="product-sidebar-a">Products</a>
        </div>
        <div class="product-sidebar">
          <a href="#" class="product-sidebar-a">Wallet</a>
        </div>
        <div class="product-sidebar">
          <a href="#" class="product-sidebar-a">Report</a>
        </div>
        <div class="product-sidebar">
          <a href="#" class="product-sidebar-a">Settings</a>
        </div>
        <div class="product-sidebar">
          <a href="#" class="product-sidebar-a">Log Out</a>
        </div>
        <!-- <div class="profile">
            <img src="pro.png" alt="" class="profile-img">
            <p>Alex Neil<br><span>Admin User</span></p>
        </div>
    </aside> -->
    <div class="profile-box">
        <img src="pro.png" alt="" class="profile-box-img" />

        <div class="profile-box-name">
          <div>
            <p class="profile-box-name-p">Jacky</p>

            <p class="profile-box-name-p">Dairy Owner</p>
          </div>
          <img src="./down.png" alt="" class="profile-back" />
        </div>
      </div>
    </div>
