<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dairy Farm Support</title>
    <link rel="stylesheet" href="./../static/css/Support.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>
{% include 'common-header.html' %}
    <div class="container">
        <div class="main-section">
            <h1 class="support"><img src="{{ url_for('static', filename='images/support.png') }}">Support</h1>
            <p>
                At Dairy Farm, we are committed to providing excellent customer support to ensure you have a smooth experience using our platform. Whether you're a dairy owner or a buyer, our team is here to assist with any questions, issues, or guidance you may need.
            </p>
            <span class='heading'>1. Getting Help</span>
            <p>
                If you encounter any issues while using the platform or need assistance with any features, please reach out to us through any of the following channels:
            </p>
            <span class='heading subsection'>a) Email Support:</span>
            <p>
                For general inquiries, troubleshooting, or technical support, please contact us at:
                <ul>
                    <li>Email: support@dairyfarm.com</li>
                </ul>
                We aim to respond to all inquiries within 24-48 hours.
            </p>
            <span class='heading subsection'>b) Phone Support:</span>
            <p>
                If you prefer to speak to our support team, feel free to call us during our business hours:
                <ul>
                    <li>Phone: +[Contact]</li>
                    <li>Business Hours: [Hours]</li>
                </ul>
            </p>
            <span class='heading subsection'>c) FAQ Section:</span>
            <p>
                Check our comprehensive Frequently Asked Questions (FAQ) Section on the website. It covers common questions and provides detailed answers on topics like account setup, subscription plans, payments, and troubleshooting tips.
            </p>
            <span class='heading'>2. Feedback and Feature Requests</span>
            <p>
                We're always looking for ways to improve our platform! If you have suggestions or ideas for new features, we'd love to hear from you. Feel free to submit your feedback or feature requests to:
                <ul>
                    <li>Email: feedback@dairyfarm.com</li>
                </ul>
            </p>
        </div>
    </div>
</body>
</html>
